header{
    /* position: absolute; */
 width: 1600px;
height: 808px; 
 left: 0px;
 top: 0px;
background: url("images/banner/banner3.png");
background-size: 100%;
background-repeat: no-repeat;
padding-top: 180px;
padding-left: 100px;
margin-bottom: 10px;
}
*{
    margin: 0;
    font-family: 'Work Sans';
}
.head-section{
    font-style: normal;
font-weight: 700;
font-size: 60px;
text-align: left;

color: #FFFFFF;

}
.head-title{
    /* padding-right: 20px; */
}
.head-description{
    
font-size: 16px;
color: #FFFFFF;

}
.head-description{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
}
.btn-contact{
    margin-left: 1px;
    border-radius: 5px;
}
                         /* main ,section01 */
.content{
    display: flex;
    gap: 87px;

}
.profile-img{
    margin-left:206px;

}
.profile-description{
    margin-top: 250px;

}
.description{
    margin-top: 24px;
    margin-bottom: 11px;
    color: #444343;
}
.list{
display: block;

}
ul{
    margin-left: 0;

}
li{
    list-style: none;
    margin-bottom: 8px;
    color: #444343;


}
  /*main section02  */
.my-plans{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 50px;
    font-size: 40px;

}
.my-plan-list{
  display: flex;
  gap: 120px;  
  justify-content:center;
}
 .plan-img{
    margin-bottom: 7px;
    padding: 20px;
    margin-left: 20px;
 } 

.plan-title{
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;
}
.plan-des{
font-weight: 500;
font-size: 25px;
line-height: 29px;
text-align: center;
color: #737272;
}
.last-section{}

.last-div{
    margin: 130px 230px;
    background-repeat: no-repeat;
    /* background-image: url("/images/watch.png"); */
border-radius: 8px;
background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
height: 300px;

}
.last-div2{
color:#FFFFFF;
font-weight: 700;
font-size: 40px;
line-height: 47px;
border-radius: 8px;
padding-left: 60px;
padding-top: 46px;
}
.call-now-btn{
padding-left: 60px;

}
.blue-button{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #005FAC;
    /* padding: 36px 21px; */
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 0px;
}
/*                       footer              */
footer{
    background: #151414;
    
}
.footer-flex{
    display: flex;
    gap: 331px;
}
.footer-fututre{
    padding-left: 230px;
    padding-top: 131px;
    margin-bottom: 130px;
}
.future-title{
    margin-bottom: 15px;
}
.future-description{
    margin-bottom: 24px;
}
.future-icon{
    margin-top: 30px;
    /* margin-bottom: 50px; */
}

#ft1{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}
#ft2{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
#ft3{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
#ft4{
    color: #FFFFFF;
    
}
.footer-subscribe{
    margin-top: 130px;
}
#ft5{
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 29px;
color: #FFFFFF;
}
.subscribe-title{
    margin-bottom: 27px;
}
.subscribe-btn{


}
.button-last{
    height: 65px;
    width: 150px;
    background: #005FAC;
    border-radius: 8px;
    border: 0px;
    font-weight: 800px;
    font-size: 19px;
    line-height: 24px;
    color: #FFFFFF;
}